<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
        <label for="maTP">Mã thuê phòng</label>
        <input id="maTP" [(ngModel)]="phieuThuePhong.Ma" type="text" pInputText 
        disabled> 
    </div>
    
    <div class="p-col-6"></div>
    <div class="p-field p-col-6">
        <label for="maXe">Mã xe</label>
        <input id="maXe" [(ngModel)]="xe.Ma" type="text" pInputText 
        disabled> 
    </div>
    
    <div class="p-field p-col-6">
        <label for="ten">Tên xe</label>
        <input id="ten" [(ngModel)]="xe.Ten" type="text" pInputText 
        disabled> 
    </div>
    
    <div class="p-field p-col-6">
        <label for="soG">Số giờ thuê</label>
        <p-inputNumber id="soG" [(ngModel)]="phieuThueXe.GioThue"></p-inputNumber>
    </div>

    <div class="p-field p-col-6">
        <label for="soN">Số ngày thuê</label>
        <p-inputNumber id="soN" [(ngModel)]="phieuThueXe.NgayThue"></p-inputNumber>
    </div>
</div>

<div class="p-d-flex p-jc-end">
    <p-button label="Đồng ý"  class="p-m-2"  
        (onClick)="xacNhanLap($event)"></p-button>
</div>
